body
{
    background-color: #f0f0f0f0;
}

#container
{
    position: relative;
    width: 600px;
    height: auto;
    margin: 100px auto;
    border: 10px solid #ffff;
    box-shadow: 0 5px 5px #000000;
}

.image
{
    display:block;
    width: 100%;
    height: auto;
}

.face
{
    position: absolute;
    border:3px solid white;
}